@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default style for smaller screens */
.video-container {
  max-width: 340px;
  margin: 0 auto; /* Center the video on smaller screens */
}

/* Media query for larger screens (laptop, desktop, etc.) */
@media (min-width: 700px) {
  .video-container {
    width: 1500px;
  }
}